body {
  margin: 0;
  display: flex;
  justify-content: center;
  background-color: aliceblue;
  height: 100vh;
  align-items: center;
}

.magnifier {
  width: 25px;
  cursor: pointer;
  position: absolute;
  left: 20px;
}

.input {
  background-color: transparent;
  margin: 10px 50px;
  width: 160px;
  border: none;
  outline: none;
  color: rgb(100, 100, 100);
  transition: width 0.3;
  transition-delay: 1s;
}

.mic-icon {
  width: 30px;
  position: absolute;
  right: 20px;
  transition: width 0.3s;
  transition-delay: 1s;
}

.search-bar-container {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  height: 50px;
  width: 250px;
  transition: width 1s;
  margin: 10px;
  background-color: aliceblue;
  padding: 5px 10px;
  box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.3),
    -4px -4px 7px rgba(255, 255, 255, 0.9);
}

.search-bar-container.active {
  width: 50px;
}

.active .input {
  width: 0;
  transition-delay: 0s;
}

.active .mic-icon {
  width: 0;
  transition-delay: 0s;
}
